<div class="my_title">
    <h1>About this site</h1>
    <div class="line"></div>
    <h4>AboutUs</h4>
</div>
<div class="container">
    <h3>
        About this site
    </h3>
    <hr>
    <section id="overview">
        <h4>Overview</h4>
        <p>
            Welcome to the official website of Your Hospital Name.
            This site is designed to provide valuable information about our hospital,
            services, and healthcare offerings.
        </p>
    </section><br>
    <section id="purpose">
        <h4>Purpose</h4>
        <p>
            Our goal is to create an accessible online platform for our community,
            patients, and visitors. This site serves as a resource hub where you can
            find information about our hospital's facilities, medical staff,
            services, and the latest health-related updates.
        </p>
    </section>
    <br>
    <section id="features">
        <h4>Features</h4>
        Explore the following features on our website:
        <ul>
            <li>Comprehensive information about our hospital</li>
            <li>Details about our medical services and specialties</li>
            <li>Profiles of our healthcare professionals</li>
            <li>Latest news and health-related articles</li>
            <li>Contact information and online appointment scheduling</li>
        </ul>
    </section>
    <br>
    <section id="feedback">
        <h4>Feedback</h4>
        <p>
            Your feedback is important to us. If you have any suggestions,
            encounter issues, or need assistance navigating the site,
            please feel free to contact us.
        </p>
    </section>
</div>
<div class="my_container">
    <h3>About Us</h3>
    <hr>
    <div class="right-panel">
        <b>Name:</b>
        <p>Prajjval Dwivedi</p>
        <b>Contact No:</b>
        <p>7509132214</p>
        <b>Company</b>
        <p>Bahwan CyberTek</p>
        <b>Email:</b>
        <p>prajjvaldwivedi2000&#64;.com</p>
        <b>Address:</b>
        <p>Secretariate Colony, Theoraipakkam, Chennai</p>
    </div>
</div>
<br><br>