<div class="myHeader">
    <h5 class="header">Hospital Information Details</h5>
    <div class="mySearch">
        <label for="status">Search: </label>
        <select [(ngModel)]="status" name="status">
            <option value="">All</option>
            <option *ngFor="let statusOption of statusOptions" [value]="statusOption">{{ statusOption }}</option>
        </select>
        <button (click)="search()" class="pl-2 pr-2 mx-2 search-button">Search</button>
    </div>
</div>

<div *ngIf="dataAvailable; else noDataMessage">
    <table class="hospital-table">
        <tr>
            <th>Info Id</th>
            <th>Name</th>
            <th>Owner Name</th>
            <th>Registered No</th>
            <th>Short Name</th>
            <th></th>
        </tr>
        <tr *ngFor="let hospital of hospitals">
            <td>{{ hospital.hospInfoDtls.hospInfoDtlId }}</td>
            <td>{{ hospital.hospInfoDtls.hospName }}</td>
            <td>{{ hospital.hospInfoDtls.hospOwnerName }}</td>
            <td>{{ hospital.hospInfoDtls.hospRegisteredNo }}</td>
            <td>{{ hospital.hospInfoDtls.hospShortName }}</td>
            <td>
                <button class="pl-2 pr-2 mx-2 search-button" (click)="openUpdatePage(hospital.hospId)">update</button>
                <button class="pl-2 pr-2 mx-2 search-button" (click)="deleteMyprofile(hospital.hospId)">delete</button>
            </td>
        </tr>
    </table>
</div>

<ng-template #noDataMessage>
    <table class="hospital-table">
        <tr>
            <th>Info Id</th>
            <th>Name</th>
            <th>Owner Name</th>
            <th>Registered No</th>
            <th>Short Name</th>
            <th></th>
        </tr>
        <td colspan="6" class="noDataFound">No data found</td>
    </table>
</ng-template>