.card {
    margin: 20px;
    border: none;
}
.noDataFound{
    color: blue;
    border: 1px solid darkblue;
}

.p-input-icon-left input{
    color: darkblue;
    font-size: 12px;
    margin-top: 5px;
}

::ng-deep .p-datatable-header {
    background: #ffffff !important;
    color: #374151;
    border: 1px solid #ffffff !important;
    padding: 1rem 1rem;
    font-weight: 700;
}

::ng-deep .p-input-icon-left {
    justify-content: right !important;
    float: right;
    padding-bottom: 5px;
}

.my_Search {
    width: 230px;
    margin: 0px 20px 0px 0px;
    position: absolute;
    /* text-align: center; */
    right: 0;
}
.my_button{
    border: 1px solid darkblue;
    background-color: aliceblue;
    color: darkblue;
    width: 100px;
    height: 34px;
    text-align: center;
    margin-left: 36px;
    font-size: 23px;
    font-weight: 900;
    padding: 1px;
}
.my_button:hover{
    background-color: rgb(212, 227, 241);
}