<div class="myHeader">
    <!-- <h5 class="header">Hospital Information Details</h5> -->
    <div class="mySearch">
        <label for="status">Trans Status: </label><br>
        <select [(ngModel)]="status" name="status">
            <option value="">All</option>
            <option *ngFor="let statusOption of statusOptions" [value]="statusOption">{{ statusOption }}</option>
        </select>
        <button (click)="searchByTransStatus()" class="pl-2 pr-2 mx-2 search-button">Search</button>
    </div>
    <div class="mySearch">
        <label for="hospCode">Hospital Code: </label><br>
        <select [(ngModel)]="hospCode" name="hospCode">
            <option value="">All</option>
            <option *ngFor="let codeOption of hospCodeOptions" [value]="codeOption">{{ codeOption }}</option>
        </select>
        <button (click)="searchByHospCode()" class="pl-2 pr-2 mx-2 search-button">Search</button>
    </div>    
    <div class="my_Search">
        <label>Create New Record</label><br>
        <button class="btn my_button" routerLink="/createInfo">+</button>
    </div>
</div>
<div class="card">
    <p-table
        #dt1
        [value]="hospitals"
        dataKey="id"
        [rows]="5"
        [showCurrentPageReport]="true"
        [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['hospCode', 'hospCommunicationDtls.hospEmailId', 'hospCommunicationDtls.hospMobileNo', 'hospCommunicationDtls.hospAddress', 'hospCommunicationDtls.hospState']">
        <ng-template pTemplate="caption">
            <div class="flex globalSearch justify-content-end align-items-center">
                <div class="p-input-icon-left">
                    <i class="fa fa-search mr-1"></i>
                    <input pInputText type="text" (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
                        placeholder="Search" />`
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="hospCode">HospCode <p-sortIcon field="hospCode"></p-sortIcon></th>
                <th pSortableColumn="hospCommunicationDtls.hospEmailId">Email Id <p-sortIcon field="hospCommunicationDtls.hospEmailId"></p-sortIcon></th>
                <th pSortableColumn="hospCommunicationDtls.hospMobileNo">Mobile No <p-sortIcon field="hospCommunicationDtls.hospMobileNo"></p-sortIcon></th>
                <th pSortableColumn="hospCommunicationDtls.hospAddress">Address <p-sortIcon field="hospCommunicationDtls.hospAddress"></p-sortIcon></th>
                <th pSortableColumn="hospCommunicationDtls.hospLandMark">Land Mark <p-sortIcon field="hospCommunicationDtls.hospLandMark"></p-sortIcon></th>
                <th pSortableColumn="hospCommunicationDtls.hospCity">City <p-sortIcon field="hospCommunicationDtls.hospCity"></p-sortIcon></th>
                <th pSortableColumn="hospCommunicationDtls.hospDistrict">District <p-sortIcon field="hospCommunicationDtls.hospDistrict"></p-sortIcon></th>
                <th pSortableColumn="hospCommunicationDtls.hospState">State <p-sortIcon field="hospCommunicationDtls.hospState"></p-sortIcon></th>
                <th pSortableColumn="hospCommunicationDtls.hospPincode">Pincode <p-sortIcon field="hospCommunicationDtls.hospPincode"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-hospital>
            <tr>
                <td>{{ hospital.hospCode}}</td>
                <td>{{ hospital.hospCommunicationDtls.hospEmailId}}</td>
                <td>{{ hospital.hospCommunicationDtls.hospMobileNo}}</td>
                <td>{{ hospital.hospCommunicationDtls.hospAddress}}</td>
                <td>{{ hospital.hospCommunicationDtls.hospLandMark}}</td>
                <td>{{ hospital.hospCommunicationDtls.hospCity}}</td>
                <td>{{ hospital.hospCommunicationDtls.hospDistrict}}</td>
                <td>{{ hospital.hospCommunicationDtls.hospState}}</td>
                <td>{{ hospital.hospCommunicationDtls.hospPincode}}</td>
                <td>
                    <button class="pl-2 pr-2 mx-2 search-button"
                        (click)="openUpdatePage(hospital.hospId)">update</button>
                    <button class="pl-2 pr-2 mx-2 search-button"
                        (click)="deleteMyprofile(hospital.hospId)">delete</button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            <p-button
                type="button"
                icon="pi pi-plus"
                styleClass="p-button-text"
            ></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <p-button
                type="button"
                icon="pi pi-cloud"
                styleClass="p-button-text"
            ></p-button>
        </ng-template>
    </p-table>
</div>