.myContainer{
    background-color: #ffffff;
}
.box_in {
    background: rgba(255, 255, 255, 0.55);
    border: 5px solid #dddddd;
    border-style: double;
    overflow: hidden;
    margin: 2%;
}

.header {
    margin-bottom: 30px;
    background: #ededed;
    padding: 15px;
    font-size: 14px;
    border: 2px solid #e7e5e5;
    font-weight: 600;
    color: black;
    height: 50px;
}

.m_f{
    text-transform: titlecase;
    color: red;
}

.my_title {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.line {
    height: 1px;
    width: 260px;
    margin: 20px auto;
    background: #46fbdf;
}

.mt2 {
    margin-top: 20px;
}

input {
    color: #2a06a3;
    font-size: 14px;
    font-weight: 300;
    line-height: 29px;
    background: white;
    border: 1px solid #dddddd;
    border-radius: 2px;
    padding: 3px 5px;
    width: 350px;
    margin-left: 21px;
}

textarea {
    width: 700px;
    height: 200px;
    display: block;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background: rgba(0, 0, 0, .4);
    color: inherit;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

textarea:focus {
    background: rgba(0, 0, 0, .4);
    color: inherit;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

.submit {
    margin: 20px 11px;
}


.form-row {
    display: flex;
}

.form-column {
    flex: 1;
    margin-right: 20px;
    /* Adjust the margin as needed */
}

label {
    display: flex;
    margin-bottom: 5px;
    /* Adjust the margin as needed */
}

.modifiedBy-form-control {
    width: 200px;
    padding: 2px 5px;
}

.text-danger {
    margin-left: 23px;
}

/* Apply styles to the PrimeNG dropdown using :ng-deep */

/* Style for the select tag */
select{
    width: 250px;
    padding: 0.375rem 0.75rem;
    font-size: 14px;
    line-height: 1.5;
    margin-left: 20px;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Style for the select tag when it is focused */
select:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Style for the options within the select dropdown */
option {
    padding: 15px;
    background: #fff;
    color: #495057;
}

/* Style for the selected option */
option:checked {
    background: #007bff;
    color: #fff;
}

/* Style for the disabled option */
option:disabled {
    color: #15ee06;
}

option:hover {
    color: #15ee06;
    background-color: red;
}

.warningMsg {
    color: red;
    font-size: 10px;
    font-weight: 900;
}