<nav class="navbar">
    <div class="mycontainer">
        <div class="logo">
            <b class="text">StarHealth</b>
        </div>
        <ul class="nav-links">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/aboutUs">AboutUs</a></li>
            <!-- <li><a routerLink="/hospMaster">Hospital Master Data</a></li>
            <li><a routerLink="/hospInfos">Hospital Information Data</a></li>
            <li><a routerLink="/hospComm">Hospital Communication Data</a></li> -->
            <!-- <li><a routerLink="/hospInfo">Hospital Data</a></li> -->
            <li><a routerLink="/createInfo"> Create Hospital</a></li>
        </ul>
    </div>
</nav>