<nav class="navbar">
    <div class="mycontainer">
        <div class="logo">
            <b class="text">StarHealth</b>
        </div>
        <ul class="nav-links">
            <li><a routerLink="/"><img class="myImg" src="../../../../assets/images/home.png"></a></li>
            <li><a routerLink="/aboutUs"><img class="aboutUs" src="../../../../assets/images/aboutus.png"></a></li>
            <li><a routerLink="/"><img class="myImg" src="../../../../assets/images/logout.webp"></a></li>
        </ul>
    </div>
</nav>
