/* You can add global styles to this file, and also import other style files */
@import '~primeng/resources/themes/saga-blue/theme.css';
@import '~primeng/resources/primeng.min.css';
.myHeader{
    display: flex;
    width: 1245px;
}

.hospital-table {
    width: 1245px;
    border-collapse: collapse;
    margin: 10px 10px 0px 10px;
}

.header, label {
    padding: 8px;
    margin-left: 13px;
    font-weight: 500;
    font-size: 15px;
}

.mySearch{
    right: 0;
    position: absolute;
    margin: 10px 20px 0px 0px;
}

select{
    padding: 5px;
    color: darkblue;
    border: 1px solid darkblue;
    border-radius: 3px;
    width: 150px;
}

.search-button{
    padding: 3px 5px;
    border: 1px solid darkblue;
    border-radius: 3px;
    color: #0b0b46;
    background: #d3d4e1;
}

button:hover{
    background-color: aliceblue;
}

th {
    border: 1px solid #b3b2ff;
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
    background-color: #a9d0f3;
}

td{
    border: 1px solid #ddd;
    padding: 8px;
}
.noDataFound{
    text-align: center;
}

