.container{
    text-align: center;
    justify-content: center;
}
.text {
    font-size: 100px;
    background: linear-gradient(to right, rgb(5, 152, 225), #e3dfdf 35%, #ff050e);
    background-size: 200% auto;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 5s linear infinite;
}

@keyframes gradient {
    0% { background-position: 0% 75%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 70%; }
}

.myNav {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.myNav button {
    border: 2px solid #3966c7;
    background-color: aliceblue;
    text-decoration: none;
    padding: 9px 26px;
    border-radius: 3px;
    color: rgb(38, 78, 105);
    font-size: 16px;
    font-weight: 600;
    margin-right: 20px;
}

.myNav button:hover {
    color: rebeccapurple;
    cursor: pointer;
}

.line{
    width: 1050px;
    border-top: 2px solid #19217d;
    margin-left: 20px;
}